// Color Variables
$primary: #3498db; 
$secondary: #2ecc71; 
$background: #f3f3f3;
$darkGrey: #333; 
$white: #fff;
$darkBlue: #0250b0;
$offWhite:#f1f7fe;
$bg-gradient-blue: linear-gradient(to right top, #5b9df1, #62ade6,#66bcdd);
$bg-gradient-white: linear-gradient(180deg, #ffffffa2, #ffffff4d);


// Font variable
$font-comic: 'Comic Sans MS', cursive, sans-serif;
$font-main:'Poppins', sans-serif;


// Text Shadow
$text-shadow1: 2px 2px 6px rgba(0, 0, 0, 0.3);